//下層ページのタイトル
@use "../variables" as v;
@use "../mixins" as m;

.c-section-title {
  text-align: center;
  margin: 0 auto 2rem;
  background-color: rgb(255, 255, 255, 0.5);
  width: fit-content;
  padding: 1rem 1.5rem;
}

.c-section-title__text {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  z-index: 0;

  position: relative;
  display: block;

  /* 中の文字：青グラデーション */
  background: linear-gradient(
    to bottom,
    #2f80ff 0%,
    #1c5cff 50%,
    #09329b 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.c-section-title__line {
  display: block;
  width: clamp(52px, 7vw, 88px);
  height: 6px;
  margin: 0.8rem auto 0;
  background:#17cbeb;
}

.section-title__sub {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #09329b;
  text-transform: uppercase;
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: inline;
  }
}