@use "variables";
@use "mixins";
@use "base";
@use "layout";
@use "sections/hero";
@use "sections/loader";
@use "sections/about";
@use "sections/services";
@use "sections/strength";
@use "sections/process";
@use "sections/works";
@use "sections/blog";
@use "sections/news";
@use "sections/footer";
@use "sections/philosophy";
@use "sections/gallery";
@use "sections/contact";
@use "pages/company";
@use "untilities/reveal";